<%- include("../header.ejs") %>

<!-- it will get input type value by names -->
<div
  class="d-flex justify-content-center align-items-center vh-100 flex-column"
>
  <h5>Login</h5>
  <form action="/user/login" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        name="email"
        aria-describedby="emailHelp"
      />
      <!-- invaid feedback -->
      <div class="invalid-feedback">
        <%= errorobj.email && errorobj.email %>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" />
      <!-- invaid feedback -->
      <div class="invalid-feedback">
        <%= errorobj.password && errorobj.password %>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include("../footer.ejs") %>
