<%- include("../header.ejs") %>

<div
  class="d-flex justify-content-center align-items-center flex-column"
>
 <div class="col-4 text-center">
    <img src="/thumbnails/test.jpg" alt="" srcset="" class="mx-auto">
  <h6>somehisg</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ab voluptatum in?</p>
  <!-- btns -->
  <div class="d-flex justify-content-between">
    <button class="btn btn-warning">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
 </div>
</div>

<%- include("../footer.ejs") %>
