<%- include("../header.ejs") %>

<div
  class="d-flex justify-content-center align-items-center flex-column"
>
  <h5 class="mb-4">My Blogs</h5>
  <div class="card card-body">
    <h6>something</h6>
  </div>
</div>

<%- include("../footer.ejs") %>
